.jumbotron {
  padding-top: 6rem;
  background-color: #b18fec;
}
#gallery {
  background-color: #b18fec;
}
section {
  padding-top: 5rem;
}

.lightbox img {
  transition: 0.2s ease-in-out;
}

.lightbox img:hover {
  transform: scale(1.05);
}
